body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

body > div {
    background-color: lightblue;
    padding: 2vh 2vw;
    margin: 5vh;
    width: 60vw;
    height: 30vh;
    border-radius: 50px;
}

#choices, #results {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#buttons {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

#buttons button {
    border: 2px solid black;
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
}

#scores {
    display: flex;
    width: 40vw;
    justify-content: space-between;
}

#scores div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 13vw;
    height: 12vh;
    background-color: antiquewhite;
    border-radius: 10px;
}

#human-score, #computer-score {
    font-size: xxx-large;
}